*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	/* Removes padding behaviour on widths */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
.row:before,
.row:after {
	content: "";
	display:  table;
	clear: both;
}

.leftmrgn:before,
.leftmrgn:after {
	content: "";
	display:  table;
	clear: both;
}
.header{
	height: 250px;
	width: 100%;
	background-color: #a4e0f2;
}
.mini-info{
	/*margin-left: 20px;*/
	padding-top: 5%;
	padding-bottom: 6%;
	padding-right: 10%;
	height: 20%;
	/*	margin-bottom: 20px;*/	
	width: 100%;
	/*	background-color: yellow;*/
}
.mini-info-txt{
	overflow: auto;
	padding-right: 2%;	
	margin-bottom: 20px;
	display: inline;
	font-family: "times", Georgia, monospace;
	font-size: 12px;
/*	font-weight: bold;
*/}
.mini-info-text-colour{
	color: #BBB9BF;
}
.mini-info-txt-tech{
	color: orange;
}
.mini-info-txt-news{
	color: #404DED;
}
.text-article{
padding-left: 5%;
}
.text{
/*	padding-left: 5%;
*/	font-size: 15px;
}
.leftmrgn{
	margin-top: 50px;
	display: inline-block;
	height: 100vh;
	width: 25%;
	float: left;
	background-color: #f7c0f1;
}
i{
	/*	margin-left: 5px;*/	
	color: #BBB9BF;
}
img{
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
}
svg{
	height: 10px;
	width: 100%;
}

[class='col']{
	display: inline-block;
	margin-bottom: 2%;
	margin-right: 2%;	
	box-shadow: 5px 5px 5px #e7e5e4;
	/*border: 3px solid red;*/
}
.col{
	padding-bottom: 5%;
	transition: all .2s ease-in-out;
	width: 30.5%;
}
.container-blog{
	width: 75%;
}
.container-article{
	width: 25%;
	padding-right: 5%;
}
.space{
	padding-bottom: 2%;
/*	margin-bottom: 20%;
*/	display: block;
}
.container {
	float: right;
	height: 100vh;
	margin-top: 5%;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
		/*border: 3px solid red;*/
	overflow-y: auto;
}
.col:hover{
	/*background-color: blue;*/
	transform: scale(1.1);
}
.button{
	margin-top: 10%;
	margin-left: 43%;
	display: inline-block;
	padding: 10px 15px;
	font-size: 14px;
	text-align: center;
	outline: none;
	border: none;
	border-radius: 5px;
}
.button-colour{
	color: #fff;
	background-color: #5C68F8;
}
.row{
float: right;
}